<div class="pp"><div class="pp-app m-card"><div class="pp-side"><b>Today</b><b class="on">Board</b><b>Context</b><b>Runs</b></div>
  <div class="pp-main"><i class="pp-bar"></i><div class="pp-c"><h4>Board</h4><div class="pp-r"></div><div class="pp-r"></div><div class="pp-r s"></div></div></div></div></div>
<!--dot-->
<div class="pp dotf"><div class="pp-app m-card"><div class="pp-side"><b>Today</b><b class="on">Board</b><b>Context</b><b>Runs</b></div>
  <div class="pp-main"><i class="pp-dot"></i><div class="pp-c"><h4>Board</h4><div class="pp-r"></div><div class="pp-r"></div><div class="pp-r s"></div></div></div></div></div>
