<div class="tr"><div class="tr-bar"><span class="tr-app">Finder&nbsp;&nbsp;File&nbsp;&nbsp;Edit</span><span class="tr-r"><span class="tr-live"></span><span class="tr-lab m-mono"></span><span class="tr-clk">Wed 5:38 PM</span></span></div><div class="tr-grid"></div></div>
<!--dot-->
<div class="tr dotf"><div class="tr-bar"><span class="tr-app">Finder&nbsp;&nbsp;File&nbsp;&nbsp;Edit</span><span class="tr-r"><span class="tr-live"></span><span class="tr-lab m-mono"></span><span class="tr-clk">Wed 5:38 PM</span></span></div><div class="tr-grid"></div></div>
