<div class="bd">
  <div class="bd-cols">
    <div class="bd-col" data-col="you"><div class="bd-ch"><i class="own you">S</i>Shivani<span class="bd-n">3</span></div></div>
    <div class="bd-col" data-col="ag"><div class="bd-ch"><i class="own ag"></i>Ensemble<span class="bd-n">1</span></div></div>
    <div class="bd-col" data-col="done"><div class="bd-ch"><i class="own ok"></i>Done<span class="bd-n">1</span></div></div>
  </div>
  <div class="bd-layer"></div>
  <svg class="bd-svg" aria-hidden="true"><path class="bd-rope"/><circle class="bd-hook" r="5"/><path class="bd-tether"/></svg>
  <div class="bd-menu"><div class="on"><span class="own ag"></span>Assign to Ensemble<kbd>A</kbd></div><div>Snooze<kbd>L</kbd></div><div>Mark done<kbd>D</kbd></div></div>
</div>
