<div class="fe"><div class="fe-top m-row"><b>Today</b><button class="fe-btn"><svg class="fe-ic" viewBox="0 0 20 20"><g class="o"><path d="M10 3.2a6.8 6.8 0 1 1-6.8 6.8"/></g><g class="i"><path d="M10 6.4a3.6 3.6 0 1 1-3.6 3.6"/></g></svg><span class="m-swap">Fetch now</span></button></div>
  <div class="fe-list"></div></div>
<!--dot-->
<div class="fe dotf"><div class="fe-top m-row"><b>Today</b><button class="fe-btn"><span class="fe-dd"><i class="dot"></i><i class="dot ag"></i></span><span class="m-swap">Fetch now</span></button></div>
  <div class="fe-list"></div></div>
