<div class="cn"><div class="cn-link"><span class="cn-n">You</span><svg class="cn-l" viewBox="0 0 200 6" preserveAspectRatio="none"><path class="d" d="M3 3H197"/><path class="s" pathLength="1" d="M3 3H197"/></svg><span class="cn-n"><svg class="qu" width="14" height="15" viewBox="296 280 432 476"><path d="M316 300 V540 A196 196 0 0 0 708 540 V300"/><path class="a" d="M426 300 V540 A86 86 0 0 0 598 540 V300"/></svg>Ensemble</span></div>
  <div class="cn-pill m-row"><i class="cn-i"></i><span class="m-swap">Offline</span><span class="m-mono cn-m">changes saved locally</span></div></div>
<!--dot-->
<div class="cn dotf"><div class="cn-dotrow"><span class="cn-sd"></span></div>
  <div class="cn-pill m-row"><i class="cn-i"></i><span class="m-swap">Offline</span><span class="m-mono cn-m">changes saved locally</span></div></div>
